<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京市</key>
	<dict>
		<key>URL</key>
		<string>http://bj.fangzhur.com</string>
		<key>CityID</key>
		<integer>1</integer>
		<key>LogoURL</key>
		<string>http://bj.fangzhur.com/city/logo/20140329105417.jpg</string>
		<key>Latitude</key>
		<string>39.905388</string>
		<key>Longitude</key>
		<string>116.491479</string>
	</dict>
	<key>上海市</key>
	<dict>
		<key>URL</key>
		<string>http://sh.fangzhur.com</string>
		<key>CityID</key>
		<integer>2</integer>
		<key>LogoURL</key>
		<string>http://sh.fangzhur.com/city/logo/20140329105813.jpg</string>
		<key>Latitude</key>
		<string>31.234079</string>
		<key>Longitude</key>
		<string>121.464676</string>
	</dict>
	<key>深圳市</key>
	<dict>
		<key>URL</key>
		<string>http://sz.fangzhur.com</string>
		<key>CityID</key>
		<integer>3</integer>
		<key>LogoURL</key>
		<string>http://sz.fangzhur.com/city/logo/20140329105800.jpg</string>
		<key>Latitude</key>
		<string>22.535505</string>
		<key>Longitude</key>
		<string>114.063788</string>
	</dict>
	<key>武汉市</key>
	<dict>
		<key>URL</key>
		<string>http://wh.fangzhur.com</string>
		<key>CityID</key>
		<integer>4</integer>
		<key>LogoURL</key>
		<string>http://wh.fangzhur.com/city/logo/20140329105745.jpg</string>
		<key>Latitude</key>
		<string>30.57571</string>
		<key>Longitude</key>
		<string>114.312726</string>
	</dict>
	<key>成都市</key>
	<dict>
		<key>URL</key>
		<string>http://cd.fangzhur.com</string>
		<key>CityID</key>
		<integer>5</integer>
		<key>LogoURL</key>
		<string>http://cd.fangzhur.com/city/logo/20140329105728.jpg</string>
		<key>Latitude</key>
		<string>30.593121</string>
		<key>Longitude</key>
		<string>103.886633</string>
	</dict>
	<key>南京市</key>
	<dict>
		<key>URL</key>
		<string>http://nj.fangzhur.com</string>
		<key>CityID</key>
		<integer>6</integer>
		<key>LogoURL</key>
		<string>http://nj.fangzhur.com/city/logo/20140329105715.jpg</string>
		<key>Latitude</key>
		<string>32.017261</string>
		<key>Longitude</key>
		<string>118.77867</string>
	</dict>
	<key>天津市</key>
	<dict>
		<key>URL</key>
		<string>http://tj.fangzhur.com</string>
		<key>CityID</key>
		<integer>7</integer>
		<key>LogoURL</key>
		<string>http://tj.fangzhur.com/city/logo/20140329105703.jpg</string>
		<key>Latitude</key>
		<string>38.946092</string>
		<key>Longitude</key>
		<string>117.362078</string>
	</dict>
	<key>杭州市</key>
	<dict>
		<key>URL</key>
		<string>http://hz.fangzhur.com</string>
		<key>CityID</key>
		<integer>8</integer>
		<key>LogoURL</key>
		<string>http://hz.fangzhur.com/city/logo/20140329105650.jpg</string>
		<key>Latitude</key>
		<string>30.212865</string>
		<key>Longitude</key>
		<string>120.195262</string>
	</dict>
	<key>重庆市</key>
	<dict>
		<key>URL</key>
		<string>http://cq.fangzhur.com</string>
		<key>CityID</key>
		<integer>9</integer>
		<key>LogoURL</key>
		<string>http://cq.fangzhur.com/city/logo/20140329105624.jpg</string>
		<key>Latitude</key>
		<string>29.619849</string>
		<key>Longitude</key>
		<string>106.470879</string>
	</dict>
	<key>沈阳市</key>
	<dict>
		<key>URL</key>
		<string>http://sy.fangzhur.com</string>
		<key>CityID</key>
		<integer>10</integer>
		<key>LogoURL</key>
		<string>http://sy.fangzhur.com/city/logo/20140329105559.jpg</string>
		<key>Latitude</key>
		<string>41.788031</string>
		<key>Longitude</key>
		<string>123.414789</string>
	</dict>
	<key>大连市</key>
	<dict>
		<key>URL</key>
		<string>http://dl.fangzhur.com</string>
		<key>CityID</key>
		<integer>11</integer>
		<key>LogoURL</key>
		<string>http://dl.fangzhur.com/city/logo/20140329105523.jpg</string>
		<key>Latitude</key>
		<string>38.931723</string>
		<key>Longitude</key>
		<string>121.611854</string>
	</dict>
	<key>青岛市</key>
	<dict>
		<key>URL</key>
		<string>http://qd.fangzhur.com</string>
		<key>CityID</key>
		<integer>12</integer>
		<key>LogoURL</key>
		<string>http://qd.fangzhur.com/city/logo/20140329105508.jpg</string>
		<key>Latitude</key>
		<string>36.074144</string>
		<key>Longitude</key>
		<string>120.41603</string>
	</dict>
	<key>苏州市</key>
	<dict>
		<key>URL</key>
		<string>http://suzhou.fangzhur.com</string>
		<key>CityID</key>
		<integer>13</integer>
		<key>LogoURL</key>
		<string>http://suzhou.fangzhur.com/city/logo/20140329105447.jpg</string>
		<key>Latitude</key>
		<string>31.319508</string>
		<key>Longitude</key>
		<string>120.590804</string>
	</dict>
	<key>三亚市</key>
	<dict>
		<key>URL</key>
		<string>http://sanya.fangzhur.com</string>
		<key>CityID</key>
		<integer>14</integer>
		<key>LogoURL</key>
		<string>http://sanya.fangzhur.com/city/logo/20140329105430.jpg</string>
		<key>Latitude</key>
		<string>18.271211</string>
		<key>Longitude</key>
		<string>109.519656</string>
	</dict>
	<key>郑州市</key>
	<dict>
		<key>URL</key>
		<string>http://zz.fangzhur.com</string>
		<key>CityID</key>
		<integer>15</integer>
		<key>LogoURL</key>
		<string>http://zz.fangzhur.com/city/logo/20140329105417.jpg</string>
		<key>Latitude</key>
		<string>34.748758</string>
		<key>Longitude</key>
		<string>113.627427</string>
	</dict>
	<key>广州市</key>
	<dict>
		<key>URL</key>
		<string>http://gz.fangzhur.com</string>
		<key>CityID</key>
		<integer>16</integer>
		<key>LogoURL</key>
		<string>http://gz.fangzhur.com/city/logo/20140329105359.jpg</string>
		<key>Latitude</key>
		<string>23.145674</string>
		<key>Longitude</key>
		<string>113.277878</string>
	</dict>
</dict>
</plist>
