<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SectionTitle</key>
	<array>
		<string>房源编号</string>
		<string>小区名称</string>
		<string>城区</string>
		<string>成交价格</string>
		<string>服务类型</string>
		<string>付款方式</string>
		<string>现金账户余额</string>
		<string>房码余额</string>
	</array>
	<key>SectionItem</key>
	<dict>
		<key>房源编号</key>
		<string>输入房源编号可减免50元服务费</string>
		<key>小区名称</key>
		<string>选择</string>
		<key>城区</key>
		<string></string>
		<key>成交价格</key>
		<string></string>
		<key>服务类型</key>
		<dict>
			<key>ItemName</key>
			<array>
				<string>租赁代办600元</string>
				<string>过户代办5000元</string>
				<string>贷款代办5000元</string>
				<string>过户和贷款8000元</string>
			</array>
			<key>ItemID</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<key>付款方式</key>
		<dict>
			<key>ItemName</key>
			<array>
				<string>线上</string>
				<string>线下</string>
			</array>
			<key>ItemID</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<key>现金账户余额</key>
		<dict>
			<key>ItemName</key>
			<array>
				<string>否</string>
				<string>是</string>
			</array>
			<key>ItemID</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<key>房码余额</key>
		<dict>
			<key>ItemName</key>
			<array>
				<string>否</string>
				<string>是</string>
			</array>
			<key>ItemID</key>
			<array>
				<string>0</string>
				<string>200</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
