<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FZPaymentFirstViewController</key>
	<dict>
		<key>SectionTitles</key>
		<array>
			<string>房源编号</string>
			<string>小区名称（必填）</string>
			<string>小区地址（必填）</string>
			<string>房屋面积（必填）</string>
			<string>楼号</string>
			<string>单元号</string>
			<string>门号</string>
		</array>
		<key>SectionItems</key>
		<dict>
			<key>房源编号</key>
			<string>请输入房源编号</string>
			<key>小区名称（必填）</key>
			<string>选择</string>
			<key>小区地址（必填）</key>
			<string>-</string>
			<key>房屋面积（必填）</key>
			<string>请输入房屋面积</string>
			<key>楼号</key>
			<string> </string>
			<key>单元号</key>
			<string> </string>
			<key>门号</key>
			<string> </string>
		</dict>
	</dict>
	<key>FZPaymentSecondViewController</key>
	<dict>
		<key>SectionTitles</key>
		<array>
			<string>房屋总租金</string>
			<string>付给房东的押金</string>
			<string>付几个月的租金</string>
			<string>水电煤气等</string>
			<string>租金日期</string>
		</array>
		<key>SectionItems</key>
		<dict>
			<key>房屋总租金</key>
			<string>必填</string>
			<key>付给房东的押金</key>
			<string>选填</string>
			<key>付几个月的租金</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
			</array>
			<key>水电煤气等</key>
			<string>选填</string>
			<key>租金日期</key>
			<string>必填</string>
		</dict>
	</dict>
	<key>FZPaymentThirdViewController</key>
	<dict>
		<key>SectionTitles</key>
		<array>
			<string>房东类型</string>
			<string>房东名称</string>
			<string>银行卡号</string>
			<string>开户银行</string>
			<string>开户行所在地</string>
			<string>房东电话</string>
		</array>
		<key>SectionItems</key>
		<dict>
			<key>房东类型</key>
			<array>
				<string>个人</string>
				<string>公司</string>
			</array>
			<key>房东名称</key>
			<string>必填</string>
			<key>银行卡号</key>
			<string>必填</string>
			<key>开户银行</key>
			<string>选择开户银行</string>
			<key>开户行所在地</key>
			<string>必填</string>
			<key>房东电话</key>
			<string>必填</string>
		</dict>
	</dict>
	<key>FZPaymentForthViewController</key>
	<dict>
		<key>SectionTitles</key>
		<array>
			<string>本次支付金额</string>
			<string>付款人姓名</string>
			<string>身份证号</string>
			<string>手机号</string>
			<string>验证码</string>
		</array>
		<key>SectionItems</key>
		<dict>
			<key>本次支付金额</key>
			<string>必填</string>
			<key>付款人姓名</key>
			<string>必填</string>
			<key>身份证号</key>
			<string>必填</string>
			<key>手机号</key>
			<string>必填</string>
			<key>验证码</key>
			<string>必填</string>
		</dict>
	</dict>
</dict>
</plist>
