<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>SectionTitle</key>
		<array>
			<string>小区名称（必填）</string>
			<string>小区地址（必填）</string>
			<string>出租时间</string>
			<string>面积（必填）</string>
			<string>室</string>
			<string>厅</string>
			<string>卫</string>
			<string>楼层</string>
			<string>总楼层</string>
			<string>楼栋</string>
			<string>单元</string>
			<string>房间号</string>
			<string>拎包入住</string>
			<string>地铁房</string>
			<string>可短租</string>
			<string>朝向</string>
			<string>装修</string>
			<string>配套设施</string>
			<string>文字描述</string>
		</array>
		<key>SectionItem</key>
		<dict>
			<key>小区名称（必填）</key>
			<string>选择</string>
			<key>小区地址（必填）</key>
			<string></string>
			<key>出租时间</key>
			<string>现在</string>
			<key>面积（必填）</key>
			<string>0</string>
			<key>室</key>
			<string>1</string>
			<key>厅</key>
			<string>0</string>
			<key>卫</key>
			<string>0</string>
			<key>楼层</key>
			<string>0</string>
			<key>总楼层</key>
			<string>0</string>
			<key>楼栋</key>
			<string>0</string>
			<key>单元</key>
			<string>0</string>
			<key>房间号</key>
			<string>0</string>
			<key>拎包入住</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>否</string>
					<string>是</string>
				</array>
				<key>ItemID</key>
				<array>
					<string></string>
					<string>8</string>
				</array>
			</dict>
			<key>地铁房</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>否</string>
					<string>是</string>
				</array>
				<key>ItemID</key>
				<array>
					<string></string>
					<string>8</string>
				</array>
			</dict>
			<key>可短租</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>否</string>
					<string>是</string>
				</array>
				<key>ItemID</key>
				<array>
					<string></string>
					<string>9</string>
				</array>
			</dict>
			<key>朝向</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>无</string>
					<string>东</string>
					<string>西</string>
					<string>南</string>
					<string>北</string>
					<string>东南</string>
					<string>西南</string>
					<string>东北</string>
					<string>西北</string>
					<string>南北</string>
					<string>东西</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
					<string>10</string>
				</array>
			</dict>
			<key>装修</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>无</string>
					<string>毛坯</string>
					<string>简装</string>
					<string>精装</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>配套设施</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>床铺</string>
					<string>衣柜</string>
					<string>沙发</string>
					<string>电视机</string>
					<string>冰箱</string>
					<string>洗衣机</string>
					<string>空调</string>
					<string>热水器</string>
					<string>宽带</string>
					<string>有线电视</string>
					<string>管道煤气</string>
					<string>整体厨房</string>
					<string>电梯</string>
					<string>电话</string>
					<string>防盗网</string>
					<string>车库</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>15</string>
					<string>16</string>
				</array>
			</dict>
			<key>文字描述</key>
			<string></string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>SectionTitle</key>
		<array>
			<string>小区名称（必填）</string>
			<string>小区地址（必填）</string>
			<string>出售时间</string>
			<string>面积（必填）</string>
			<string>室</string>
			<string>厅</string>
			<string>卫</string>
			<string>楼层</string>
			<string>总楼层</string>
			<string>楼栋</string>
			<string>单元</string>
			<string>房间号</string>
			<string>免税</string>
			<string>满五唯一</string>
			<string>不限购</string>
			<string>学区房</string>
			<string>朝向</string>
			<string>装修</string>
			<string>配套设施</string>
			<string>文字描述</string>
		</array>
		<key>SectionItem</key>
		<dict>
			<key>小区名称（必填）</key>
			<string>选择</string>
			<key>小区地址（必填）</key>
			<string></string>
			<key>出租时间</key>
			<string>现在</string>
			<key>面积（必填）</key>
			<string>0</string>
			<key>室</key>
			<string>1</string>
			<key>厅</key>
			<string>0</string>
			<key>卫</key>
			<string>0</string>
			<key>楼层</key>
			<string>0</string>
			<key>总楼层</key>
			<string>0</string>
			<key>楼栋</key>
			<string>0</string>
			<key>单元</key>
			<string>0</string>
			<key>房间号</key>
			<string>0</string>
			<key>免税</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>否</string>
					<string>是</string>
				</array>
				<key>ItemID</key>
				<array>
					<string></string>
					<string>15</string>
				</array>
			</dict>
			<key>满五唯一</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>否</string>
					<string>是</string>
				</array>
				<key>ItemID</key>
				<array>
					<string></string>
					<string>8,14</string>
				</array>
			</dict>
			<key>不限购</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>否</string>
					<string>是</string>
				</array>
				<key>ItemID</key>
				<array>
					<string></string>
					<string>16</string>
				</array>
			</dict>
			<key>学区房</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>否</string>
					<string>是</string>
				</array>
				<key>ItemID</key>
				<array>
					<string></string>
					<string>1</string>
				</array>
			</dict>
			<key>朝向</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>无</string>
					<string>东</string>
					<string>西</string>
					<string>南</string>
					<string>北</string>
					<string>东南</string>
					<string>西南</string>
					<string>东北</string>
					<string>西北</string>
					<string>南北</string>
					<string>东西</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
					<string>10</string>
				</array>
			</dict>
			<key>装修</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>无</string>
					<string>毛坯</string>
					<string>简装</string>
					<string>精装</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>配套设施</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>床铺</string>
					<string>衣柜</string>
					<string>沙发</string>
					<string>电视机</string>
					<string>冰箱</string>
					<string>洗衣机</string>
					<string>空调</string>
					<string>热水器</string>
					<string>宽带</string>
					<string>有线电视</string>
					<string>管道煤气</string>
					<string>整体厨房</string>
					<string>电梯</string>
					<string>电话</string>
					<string>防盗网</string>
					<string>车库</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>15</string>
					<string>16</string>
				</array>
			</dict>
			<key>文字描述</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
