<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>SectionTitle</key>
		<array>
			<string>城区</string>
			<string>商圈</string>
			<string>地铁</string>
			<string>房屋类别</string>
			<string>户型</string>
			<string>面积（m²）</string>
			<string>价格（元/月）</string>
			<string>装修</string>
			<string>朝向</string>
			<string>特殊标签</string>
			<string>圈子</string>
			<string>租房时间</string>
		</array>
		<key>SectionItem</key>
		<dict>
			<key>城区</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<key>商圈</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<key>地铁</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<key>房屋类别</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>住宅</string>
					<string>公寓</string>
					<string>别墅</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>1</string>
					<string>10</string>
					<string>2</string>
				</array>
			</dict>
			<key>户型</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>1居</string>
					<string>2居</string>
					<string>3居</string>
					<string>4居</string>
					<string>5居</string>
					<string>5居+</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
			</dict>
			<key>面积（m²）</key>
			<string>0,500,50</string>
			<key>价格（元/月）</key>
			<string>0,10000,2000</string>
			<key>装修</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>毛坯</string>
					<string>简装</string>
					<string>精装</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>朝向</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>东</string>
					<string>西</string>
					<string>南</string>
					<string>北</string>
					<string>东南</string>
					<string>西南</string>
					<string>东北</string>
					<string>西北</string>
					<string>南北</string>
					<string>东西</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
					<string>10</string>
				</array>
			</dict>
			<key>特殊标签</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>可注册</string>
					<string>拎包入住</string>
					<string>地铁房</string>
					<string>可短租</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>10</string>
					<string>9</string>
					<string>4</string>
					<string>11</string>
				</array>
			</dict>
			<key>圈子</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>特价房</string>
					<string>IT精英</string>
					<string>学院派</string>
					<string>艺术圈</string>
					<string>音乐圈</string>
					<string>金融圈</string>
					<string>玩车族</string>
					<string>富人区</string>
					<string>老外</string>
					<string>Shopping</string>
					<string>摄影族</string>
					<string>爱美食</string>
					<string>爱电影</string>
					<string>爱运动</string>
					<string>白富美</string>
					<string>地铁房</string>
					<string>学区房</string>
					<string>医区房</string>
					<string>景观房</string>
					<string>闹市区</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>租房时间</key>
			<string>随时</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>SectionTitle</key>
		<array>
			<string>城区</string>
			<string>商圈</string>
			<string>地铁</string>
			<string>房屋类别</string>
			<string>户型</string>
			<string>面积（m²）</string>
			<string>价格（万元）</string>
			<string>装修</string>
			<string>朝向</string>
			<string>特殊标签</string>
			<string>圈子</string>
			<string>买房时间</string>
		</array>
		<key>SectionItem</key>
		<dict>
			<key>城区</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<key>商圈</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<key>地铁</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<key>房屋类别</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>住宅</string>
					<string>公寓</string>
					<string>别墅</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>1</string>
					<string>10</string>
					<string>2</string>
				</array>
			</dict>
			<key>户型</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>1居</string>
					<string>2居</string>
					<string>3居</string>
					<string>4居</string>
					<string>5居</string>
					<string>5居+</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
			</dict>
			<key>面积（m²）</key>
			<string>0,500,50</string>
			<key>价格（万元）</key>
			<string>0,10000000,500000</string>
			<key>装修</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>毛坯</string>
					<string>简装</string>
					<string>精装</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<key>朝向</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>东</string>
					<string>西</string>
					<string>南</string>
					<string>北</string>
					<string>东南</string>
					<string>西南</string>
					<string>东北</string>
					<string>西北</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
				</array>
			</dict>
			<key>特殊标签</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>免税</string>
					<string>满五唯一</string>
					<string>业主包税</string>
					<string>不限购</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>15</string>
					<string>8</string>
					<string>14</string>
					<string>16</string>
				</array>
			</dict>
			<key>圈子</key>
			<dict>
				<key>ItemName</key>
				<array>
					<string>不限</string>
					<string>特价房</string>
					<string>IT精英</string>
					<string>学院派</string>
					<string>艺术圈</string>
					<string>音乐圈</string>
					<string>金融圈</string>
					<string>玩车族</string>
					<string>富人区</string>
					<string>老外</string>
					<string>Shopping</string>
					<string>摄影族</string>
					<string>爱美食</string>
					<string>爱电影</string>
					<string>爱运动</string>
					<string>白富美</string>
					<string>地铁房</string>
					<string>学区房</string>
					<string>医区房</string>
					<string>景观房</string>
					<string>闹市区</string>
				</array>
				<key>ItemID</key>
				<array>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
					<string>0</string>
				</array>
			</dict>
			<key>买房时间</key>
			<string>随时</string>
		</dict>
	</dict>
</dict>
</plist>
